/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h1, h2 {
    margin: 20px 0;
}

.login {
    text-align: center;
    padding: 20px;
}

.input-group {
    margin: 0 auto 20px; /* Center the input fields */
    width: 250px; /* Set width of the input fields */
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input[type="email"],
.input-group input[type="password"] {
    width: 100%; /* Make input fields fill the width of the container */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.login-link {
    font-size: 14px;
}
